.gpt3__features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.gpt3__features-heading {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  margin-left: 5rem;
}
.gpt3__features-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
}
.gpt3__features-heading p {
  font-size: 16px;
  line-height: 30px;
  font-family: var(--font-family);
  color: #ff8a71;
  margin-top: 2rem;
}
